@page "/directory"

<h1>Directory</h1>
<div class="row">
    @foreach(var p in People)
    {
    <div class="col-4">
        <PersonComponent FirstName="@p.FirstName" LastName="@p.LastName">
            <AddressFragment>
                @if (p.Addresses.Count > 0)
                {
                    <h3>Addresses</h3>
                }
                @foreach (var a in p.Addresses)
                {
                    <AddressComponent Address="@a"></AddressComponent>
                }
            </AddressFragment>
        </PersonComponent>
    </div>
        
    }
</div>