@page "/counter"

<h1>Counter</h1>


@if (pageApproved)
{
    <h2 class="text-success">This page has been approved.</h2>
}

@if (pageRejected)
{
    <h2 class="text-danger">This page has been rejected.</h2>
}


<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (pageApproved == false && pageRejected == false)
{
    <div class="row">
        <div class="col-12">
            <Voting OnVoted="HandleOnVoted"></Voting>
        </div>
    </div>
}


@code {
    private int currentCount = 0;
    private bool pageApproved = false;
    private bool pageRejected = false;


    private void IncrementCount()
    {
        currentCount++;
    }

    private void HandleOnVoted(string result)
    {
        switch (result)
        {
            case "Approved":
                pageApproved = true;
                break;
            case "Rejected":
                pageRejected = true;
                break;
            default:
                break;
        }
    }
}
